<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo tài khoản Admin</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login-form">
        <h1>Tạo tài khoản Admin</h1>
        <form action="/admin/register" method="POST">
            <label>Tên:</label>
			<input type="text" name="name" placeholder="Nhập Tên" 
                <% if (typeof name != "undefined" && name) { %> value="<%= name %>"<% } %> required>
            <label>Email:</label>
            <input type="text" name="email" placeholder="Nhập Email" 
                <% if (typeof email != "undefined" && email) { %> value="<%= email %>"<% } %>  required>
            <label>Mật khẩu:</label>
            <input type="password" name="password" placeholder="Nhập Mật khẩu" 
                <% if (typeof password != "undefined" && password) { %> value="<%= password %>"<% } %> required>
			
            <% if (typeof conflictError != "undefined" && conflictError) { %>
                <div class="text-danger text-left  mb-3"><%= conflictError %></div>
            <% } %>
            <button type="submit" class="button3">Đăng Ký</button>
            <label>Bạn đã có tài khoản ?</label>
            <a href="/admin/login">Đăng nhập</a>
        </form>
    </div>
</body>
</html>