.login-form {
    width: 300px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form h1 {
    text-align: center;
    color: #4d4d4d;
    font-size: 24px;
    padding: 20px 0 20px 0;
}
.login-form input[type="password"],
.login-form input[type="text"] {
    width: 100%;
    padding: 15px;
    border: 1px solid #dddddd;
    margin-bottom: 15px;
    box-sizing:border-box;
}
.login-form input[type="submit"] {
    width: 100%;
    padding: 15px;
    background-color: #356596;
    border: 0;
    box-sizing: border-box;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
}.login-form1 {
    width: 500px;
    margin: 0 auto;
    font-family: Tahoma, Geneva, sans-serif;
}
.login-form1 h1 {
  text-align: center;
  color: #4d4d4d;
  font-size: 24px;
  padding: 20px 0 20px 0;
}
.login-form1 input[type="password"],
.login-form1 input[type="text"] {
  width: 100%;
  padding: 15px;
  border: 1px solid #dddddd;
  margin-bottom: 15px;
  box-sizing:border-box;
}
.login-form1 input[type="submit"] {
  width: 100%;
  padding: 15px;
  background-color: #356596;
  border: 0;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
}
@media screen and (min-width:768px)
{
  .nav-item {
    font-weight: bold;
    font-size: 14px;
    padding: 0 10px;
  } 
  .nav-item:last-child {
    padding-right: 0;
  }
}
@media screen and (max-width:768px)
{
  .btn-slide {
    display: none;
  }
  .bc{
    display:none;
  }
}

body{
  font-family: 'Roboto', sans-serif;
}
nav .active {
  color: blue;
}
*{
  box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin-top: 0px;
  font-weight: 700;
}
.navbar-brand{
  font-weight: bolder;
  font-size:26px;
}
#navbarNav{
  margin-top:20px;
  margin-left:0px;
}


.menu {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}
.menu * {
  box-sizing: border-box;
}
.menu li {
  display: inline-block;
  list-style: outside none none;
  margin: 0.5em 1em;
  overflow: hidden;
  position: relative;
  border-radius: 3px;
}

.menu li a{
  font-size:13px;
}
.menu li:before,
.menu li:after {
  display: block;
}
.menu li:before {
  left: 0%;
}
.menu li:after {
  left: 75%;
}
.menu a {
  backface-visibility: hidden;
  color: black;
  display: block;
  /* padding: 0.5em 1em; */
  position: relative;
  text-align: center;
  text-decoration: none;
}
.menu a:before {
  left: 25%;
}
.menu a:after {
  left: 50%;
}
.menu a:hover {
  color: #ffffff;
}
.menu li:before,
.menu li:after,
.menu a:before,
.menu a:after {
  background-color: #00bc95;
  position: absolute;
  width: 26%;
  top: 50%;
  bottom: 50%;
  content: '';
  z-index: -1;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.menu li:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.menu li:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
.menu a:before {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}
.menu a:after {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}
.menu li:hover:before,
.menu li.visited:before,
.menu li:hover:after,
.menu li.visited:after,
.menu li:hover a:before,
.menu li.visited a:before,
.menu li:hover a:after,
.menu li.visited a:after {
  top: 0;
  bottom: 0;
  opacity: 1;
}
.menu li:hover:before,
.menu li.visited:before {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
}
.menu li:hover:after,
.menu li.visited:after {
  -webkit-transition-delay: 0.225s;
  transition-delay: 0.225s;
}
.menu li:hover a:before,
.menu li.visited a:before {
  -webkit-transition-delay: 0.075s;
  transition-delay: 0.075s;
}
.menu li:hover a:after,
.menu li.visited a:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}




.bg-grey {
  background-color: #f7f8fa;
}


.middle{
  text-align:center;
  margin-top:56px;

}
.title-middle{
  margin-bottom:19px;
  font-weight: bold;
  font-size:24px;
}
.title-middle span{
  color:#00bc95;
}
.slogan-middle{
  width:498px;
  font-size:16px;
  margin-left:300px;
}
.col-line{
    width: 54px;
    height: 1px;
    background-color: #00bc95;
    display: block;
    margin: 5px 0px;
}
.title-service{
   color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}
.service{
     margin:30px 0;
}

.box-service{
  text-align:center;
  width:370px;
  height:218px;
}
.box-service i{
width:64px;
height:64px;
border: 2px solid #00bc95;;
line-height: 64px;
font-size: 30px;
text-align: center;
color: #00bc95;
border-radius:10px;
margin-bottom: 20px;
}
.box-service p{
    line-height: 20px;
    margin: 0 0 10px;
    font-size: 14px;
    font-weight: 400;
    color: #777;
}
.box-service h4{
      color: #333;
    font-size: 23px;
    font-weight: 400;
}

.box-service:hover i{
  transform: rotateY(180deg);
  transition: 0.7s ease-in-out;
  color:white;
  background:#00bc95;
}
.service-part{
  margin-bottom: 50px;
}

.title-featured{
   color: #000;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.featured{
  margin:30px 0;
}


.box-featured .more{
  text-align:center;
  margin:-10px 0;
  text-decoration: none;
  position: relative;

}

.box-featured h5{
  text-align:center;
  margin:10px;
  color:darkgray;
  font-size:14px;
  font-weight: 700;
}


.more {
 text-align: center;
    top: 50%;
    left: 0;
    right: 0;
    position: absolute;
    margin-top: -11px;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
}
.box-featured {
  position: relative;
  overflow: hidden;
}
.box-featured1 {
  margin-top: 10px;
  position: relative;
  padding:0 15px;
  overflow: hidden;

}
.img-overlay{
 position: absolute;
 background: #222;
 width: 100%;
 display: block;
 height: 100%;
 padding: 20px;
top: 0;
right: 0;
left: 0;
bottom: 0;
  opacity: 0.8;
  -webkit-transform:scale(0);
  transition: 0.3s ease;

}
.box-featured:hover .img-overlay{
  transform: scale(1);
}
.box-featured1:hover .img-overlay{
  transform: scale(1);
}
.border-custom {
  border: solid 2px #ddd;
  border-radius: 4px;
  max-width: 100%;
  margin:0;

}
.text-custom{
  color: #777;
  font-size:16px;
  font-weight: bold;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}
.link-custom{
  color: #00bc95;
  font-weight: bold;
}
.text-counter{
  text-align: center;
  font-weight: bolder;
  color: #777;
}
.text-counter h1{
  font-size:36px;
}
.zoom {
  transition: ease 0.3s;
  max-width: 100%;
}
.box-featured:hover .zoom {
  transform: scale(1.5); 
}
.box-featured1:hover .zoom {
  transform: scale(1.5); 
}
.btn-custom{
  background-color: #00bc95;
  border: solid 1px #00bc95;
  color: #FFF;
  font-size: 0.8em;
  position: relative;

}
.btn-custom:hover{
  color: #333;
  background-color: rgb(221, 219, 219);
  border: solid 1px rgb(221, 219, 219);
}

.title-job{
   color: #000;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.job{
  margin-bottom:20px;
}
.custom{
  text-align: left;
}
.what-do-inner i{
      width: 50px;
    height: 50px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    line-height: 50px;
    margin-bottom: 10px;
    text-align: center;
    border: 1px solid #00bc95;
    color: #00bc95;
    font-size: 30px;
}

.what-do-inner:hover i{
  transform: rotateY(180deg);
  transition: 0.7s ease-in-out;
  color:white;
  background:#00bc95;
}

.what-do-inner span{
      font-weight: 500;
    color: #000;
    font-size: 20px;
}

.title-team{
   color: #000;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;
}

.team{
  margin-top:50px;
  margin-bottom:20px;
}

.pic{
  text-align:center;
}
.pic h6{
  margin-top:-16px;
  margin-bottom:-16px;
  color:#00bc95;
  font-size: 12px;
}
.pic h5{
  text-transform: uppercase;
  font-weight: 800;
  margin-top:0px;
  color:gray;
}
.pic img{
  width: 50%;

}
.pic ul{
  margin-right:50px;
}

.pic ul li{
   display: inline-block;
   left:20px;
  line-height: 40px;
  margin-left: 5px;
}
.pic li a i{
      color: #fff;
    font-size: 17px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #333b4d;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 10%;
}


.title-stories{
   color: #000;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 4px;

}
.counter {
  padding: 6rem;
  border:solid 1px #ddd;
}


/******************************************latest news and blogs**************************/

.latest-news-wrapper{
  border: 1px solid #eee;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.latest-news-desc h3{
  margin-top: 10px;
  font-weight: 500;
  font-size: 17px;
  color:#000;
  line-height: 25px;
}

.l-news-detail{
  display: block;
  font-size: 10px;
  text-transform: uppercase;
  margin-bottom: 15px;
  font-weight: 500;
}
.latest-news-wrapper a.img-wrapper{
  margin-bottom: 10px;
  overflow: hidden;
  height: 
}

.btn2 p{
  width:140px;
  height: 39px;
  padding:9px 0;
  text-align:center;
  border:1px solid #00bc95;
  background-color: #00bc95;
  text-transform: uppercase;
  font-size:12px;
  font-weight: 600;
  border-radius:4px;
}

.btn2 a{
  color:black;
  text-decoration: none;
}

.btn2 a:hover{
  color:black;
  text-decoration: none;
}
.btn2 p:hover{
   background-color: lightgray;
   border:1px solid gray;
  border-radius:4px;
}
.contact-infor{
  display: block;
    font-size: 13px;
    color:white;
}
.location h3{
  font-size: 16px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  padding-top:30px;
  margin-bottom:30px;
}

.tweet-desc{
   display: block;
    font-size: 13px;
    color:white;
}

.follow h3{
  font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
  margin-top:58px;
}

.follow ul{
  margin-left:-41px;
}
.follow ul li{
  list-style-type: none;
  display: inline-block;
}
.follow li i{

  color: #fff;
    font-size: 17px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background-color: #333b4d;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
    border-radius: 10%;
}

hr{
  border-color: rgba(255,255,255,0.5)
}
.blue-fluid,
.footer{
  background-color:#00bc95;
  padding: 10px;
  width: 100%;
}

.footer-btm{
  background-color: black;
  height: 110px;
}

.footer-btm p{
  line-height: 100px;
}
.abc {
  position: absolute;
  top: 15vw;
  color: #FFF;
  text-align: center;

}

.abc h1 {
  font-size: 2.8vw;
  font-weight: bolder;
}

.abc p {
  font-size: 1.2vw;
  font-weight: bold;
}
.night{
  background-color: #000;
}
.carousel-item {
  opacity: 0.6;
}

/***********--------------BLOG ---------------------********/
.breadcrumb{
  background-color: transparent;
  color: #fff;
  margin: 0 !important;
  padding: 10px 0;
}

.breadcrumb-item,.breadcrumb-item a{
  color: #fff;
}
.bc {
  font-size: 14px;
  margin:0;
}
.title h5{
  color:#fff;
  font-size:24px;
  margin:0 !important;
  text-transform: uppercase
}
.box{
  background-color: #f7f8fa;
  padding:10px;
  border:solid 1px #ddd;
}
.box .img-box2 {
  width: 50px;
  height: 50px;
  float: left;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
 
}

.box .img-box{
  width: 30%;
  float: left;
  margin-right: 10px;
}
.box h6{
  font-size:14px;
  color:#00bc95;
  
}
.title-search {
  font-weight: bold;
  border-bottom:solid 1px #00bc95;
  text-transform: uppercase;
}
.box .form-control,.btn{
  border-radius: 0px;
}
.desc h2{
  color: #00bc95;
  font-size: 22px;
  margin-top: 20px;
}
.box .date{
  font-size:11px;
  color:rgb(148, 147, 147);
  font-weight: bold;
}
.box-product {
  margin-top:10px;
}

.back-to-top {
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 0px;
    right: 20px;
    display: none;
    background: #00bc95;
    text-align: center;
    z-index: 10000;
}

.back-to-top i {
    color: #fff;
    font-size: 15px;
    display: block;
    line-height: 33px;
}

.back-to-top a{
  text-decoration:none;
}

.back-to-top:hover{
  background-color:#333b4d;
  text-decoration: none;
}
.page-link {
  color: #00bc95;
}
.button {
  background-color: #25727bad;
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
}
/* .button1 {
  background-color: white; 
  color: black; 
  border: 2px solid crimson;
} */
.button1:hover {
  background-color: crimson;
  color: white;
  text-align: center;
}
.button2{
  background-color: #356596;
  padding: 10px 115px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}
.button3{
  background-color: #356596;
  padding: 10px 115px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}
.button4{
  background-color: #356596;
  padding: 10px 135px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 4px;
  color: #ffffff;
}
/* p{
  border:1px solid gray;
  width:20px;
  height:20px;
  word-wrap:break-word;
} */
.register-page{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
}

.register-form_container{
 position: relative;
 margin: 0 auto;
 width: 70%;

 background-image: url('https://images.unsplash.com/photo-1426604966848-d7adac402bff?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80');
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;

padding: 40px 0;
}

.register-form{
  z-index: 99999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.register-form h1{
  width: 100%;
}

.register-form form input{
  width: 100%;
}

.currency:before{ content:'$'; }
.currency:after{ content: '.00'; }

.dropbtn {
  /* background-color: #4CAF50; */
  color: white;
  /* padding: 16px; */
  font-size: 16px;
  border: none;
  cursor: pointer;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  line-height: 25px;
  padding:2px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: white}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  /* background-color: #e4f2e4; */
}
.alignC { text-align: center; }
.edit-form{
  width: 400px;
  margin: 0 auto;
  font-family: Tahoma, Geneva, sans-serif;
}
.background{
  background: #abbaab;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.admin-background{
  background: #E0EAFC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  
}
.shadow-primary {
  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(233, 30, 99, 0.4) !important;
}
.border-radius-lg {
  border-radius: 0.5rem;
}
.pt-4 {
  padding-top: 1.5rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important;
}
.text-white {
  color: #fff !important;
}
.text-capitalize {
  text-transform: capitalize !important;
}
.ps-3 {
  padding-left: 1rem !important;
}
.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}
.px-0 {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.pb-2 {
  padding-bottom: 0.5rem !important;
}
.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.p-0 {
  padding: 0 !important;
}
table {
  caption-side: bottom;
  border-collapse: collapse;
}
.align-items-center {
  align-items: center !important;
}
.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #7b809a;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #7b809a;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #7b809a;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #7b809a;
  vertical-align: top;
  border-color: #f0f2f5;
}

.table> :not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
  vertical-align: inherit;
}

.table>thead {
  vertical-align: bottom;
}

.table> :not(:first-child) {
  border-top: 2px solid currentColor;
}

.caption-top {
  caption-side: top;
}

.table-sm> :not(caption)>*>* {
  padding: 0.25rem 0.25rem;
}

.table-bordered> :not(caption)>* {
  border-width: 1px 0;
}

.table-bordered> :not(caption)>*>* {
  border-width: 0 1px;
}

.table-borderless> :not(caption)>*>* {
  border-bottom-width: 0;
}

.table-borderless> :not(:first-child) {
  border-top-width: 0;
}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  --bs-table-accent-bg: var(--bs-table-striped-bg);
  color: var(--bs-table-striped-color);
}

.table-active {
  --bs-table-accent-bg: var(--bs-table-active-bg);
  color: var(--bs-table-active-color);
}

.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.table-primary {
  --bs-table-bg: #fbd2e0;
  --bs-table-striped-bg: #eec8d5;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e2bdca;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #e8c2cf;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e2bdca;
}

.table-secondary {
  --bs-table-bg: #e5e6eb;
  --bs-table-striped-bg: #dadbdf;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #cecfd4;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #d4d5d9;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #cecfd4;
}

.table-success {
  --bs-table-bg: #dbefdc;
  --bs-table-striped-bg: #d0e3d1;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #c5d7c6;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #cbddcc;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #c5d7c6;
}

.table-info {
  --bs-table-bg: #d1e3fa;
  --bs-table-striped-bg: #c7d8ee;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #bccce1;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #c1d2e7;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #bccce1;
}

.table-warning {
  --bs-table-bg: #fee8cc;
  --bs-table-striped-bg: #f1dcc2;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e5d1b8;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #ebd7bd;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e5d1b8;
}

.table-danger {
  --bs-table-bg: #fdd9d7;
  --bs-table-striped-bg: #f0cecc;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #e4c3c2;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #eac9c7;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #e4c3c2;
}

.table-light {
  --bs-table-bg: #f0f2f5;
  --bs-table-striped-bg: #e4e6e9;
  --bs-table-striped-color: #000;
  --bs-table-active-bg: #d8dadd;
  --bs-table-active-color: #000;
  --bs-table-hover-bg: #dee0e3;
  --bs-table-hover-color: #000;
  color: #000;
  border-color: #d8dadd;
}

.table-dark {
  --bs-table-bg: #344767;
  --bs-table-striped-bg: #3e506f;
  --bs-table-striped-color: #fff;
  --bs-table-active-bg: #485976;
  --bs-table-active-color: #fff;
  --bs-table-hover-bg: #435572;
  --bs-table-hover-color: #fff;
  color: #fff;
  border-color: #485976;
}

.table-responsive {
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}
.mb-0 {
  margin-bottom: 0 !important;
}
.text-center {
  text-align: center !important;
}
.text-uppercase {
  text-transform: uppercase !important;
}
.text-secondary {
  color: #7b809a !important;
}
.text-xxl-start {
  text-align: left !important;
}

.text-xxl-end {
  text-align: right !important;
}

.text-xxl-center {
  text-align: center !important;
}
.font-weight-bolder {
  font-weight: 700 !important;
}
.opacity-10 {
  opacity: 1 !important;
}
.align-middle {
  vertical-align: middle !important;
}
.text-secondary {
  color: #7b809a !important;
}
.opacity-7 {
  opacity: 0.7 !important;
}
.table thead th {
  padding: 0.75rem 1.5rem;
  text-transform: capitalize;
  letter-spacing: 0px;
  border-bottom: 1px solid #f0f2f5;
}

.table th {
  font-weight: 600;
}

.table td .progress {
  height: 3px;
  width: 120px;
  margin: 0;
}

.table td .progress .progress-bar {
  height: 3px;
}

.table td,
.table th {
  white-space: nowrap;
}

.table.align-items-center td,
.table.align-items-center th {
  vertical-align: middle;
}

.table tbody tr:last-child td {
  border-width: 0;
}

.table> :not(:last-child)> :last-child>* {
  border-bottom-color: #f0f2f5;
}

.table> :not(:first-child) {
  border-top: 1px solid currentColor;
}
.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem;
}
.card>hr {
  margin-right: 0;
  margin-left: 0;
}

.card>.list-group {
  border-top: inherit;
  border-bottom: inherit;
}

.card>.list-group:first-child {
  border-top-width: 0;
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.card>.list-group:last-child {
  border-bottom-width: 0;
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.card>.card-header+.list-group,
.card>.list-group+.card-footer {
  border-top: 0;
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

.card-title {
  margin-bottom: 0.5rem;
}

.card-subtitle {
  margin-top: -0.25rem;
  margin-bottom: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

.card-link+.card-link {
  margin-left: 1rem;
}

.card-header {
  padding: 0.5rem 1rem;
  margin-bottom: 0;
  background-color: #fff;
  border-bottom: 0 solid rgba(0, 0, 0, 0.125);
}

.card-header:first-child {
  border-radius: 0.75rem 0.75rem 0 0;
}

.card-footer {
  padding: 0.5rem 1rem;
  background-color: #fff;
  border-top: 0 solid rgba(0, 0, 0, 0.125);
}

.card-footer:last-child {
  border-radius: 0 0 0.75rem 0.75rem;
}

.card-header-tabs {
  margin-right: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: -0.5rem;
  border-bottom: 0;
}

.card-header-pills {
  margin-right: -0.5rem;
  margin-left: -0.5rem;
}

.card-img-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border-radius: 0.75rem;
}

.card-img,
.card-img-top,
.card-img-bottom {
  width: 100%;
}

.card-img,
.card-img-top {
  border-top-left-radius: 0.75rem;
  border-top-right-radius: 0.75rem;
}

.card-img,
.card-img-bottom {
  border-bottom-right-radius: 0.75rem;
  border-bottom-left-radius: 0.75rem;
}

.card-group>.card {
  margin-bottom: 0.75rem;
}

@media (min-width: 576px) {
  .card-group {
    display: flex;
    flex-flow: row wrap;
  }

  .card-group>.card {
    flex: 1 0 0%;
    margin-bottom: 0;
  }

  .card-group>.card+.card {
    margin-left: 0;
    border-left: 0;
  }

  .card-group>.card:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-top,
  .card-group>.card:not(:last-child) .card-header {
    border-top-right-radius: 0;
  }

  .card-group>.card:not(:last-child) .card-img-bottom,
  .card-group>.card:not(:last-child) .card-footer {
    border-bottom-right-radius: 0;
  }

  .card-group>.card:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-top,
  .card-group>.card:not(:first-child) .card-header {
    border-top-left-radius: 0;
  }

  .card-group>.card:not(:first-child) .card-img-bottom,
  .card-group>.card:not(:first-child) .card-footer {
    border-bottom-left-radius: 0;
  }
}
.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}
.col-12 {
  flex: 0 0 auto;
  width: 100%;
}
a {
  color: #e91e63;
  text-decoration: none;
}
a {
  letter-spacing: 0rem;
  color: #344767;
}
.bg-gradient-primary {
  background-image: linear-gradient(195deg, #EC407A 0%, #D81B60 100%);
}