<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tạo tin tức mới</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login-form">
    <h2>Tạo tin tức mới</h2>

    <% if (typeof status !== 'undefined') { %>
        <%if (status == 'success') { %>
            <div style="color: green;">
                Tạo tin tức mới thành công
            </div>
        <% } else { %>
            <div style="color: red;">
                Có lỗi xảy ra trong quá trình tạo mới tin tức
            </div>
        <% } %>
        <br>
    <% } %>
    <form action="/product" method="post" enctype="multipart/form-data">
        <label for="productName" >Tiêu đề tin tức</label>
        <input type="text" id="productName" name="productName" placeholder="Nhập tiêu đề tin tức"
            <% if (typeof productName != "undefined" && productName) { %> value="<%= productName %>"<% } %> required>
        <br> <br>
        <label for="price">Giá</label>
        <input type="text" name="price" id="price" placeholder="Nhập giá"
            <% if (typeof price != "undefined" && price) { %> value="<%= price %>"<% } %> required>
        <br> <br>
        <label for="detail">Chi tiết tin tức</label>
        <input type="text" name="detail" id="detail" placeholder="Nhập chi tiết tin tức"
            <% if (typeof detail != "undefined" && detail) { %> value="<%= detail %>"<% } %> required>
        <br><br>
        <label for="image">Image</label>
        <input type="file" name="myFile" />
        <button class="button button1" type="submit">Tạo mới</button>
        <a href="/product"><button class="button button1" type="button">Trở về</button></a>
    </form>
    </div>
</body>
</html>