<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Người dùng quên mật khẩu</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login-form">
        <h1>Quên mật khẩu</h1>
        <form action="/password/email" method="POST">
            <label>Email:</label>
            <input type="text" name="email" placeholder="Nhập Email" 
                <% if (typeof email != "undefined" && email) { %> value="<%= email %>"<% } %>  required>
            <button type="submit" class="button4">Gửi</button>
        </form>
    </div>
</body>
</html>