<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset mật khẩu người dùng</title>
	<link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <div class="login-form">
        <h1>Reset mật khẩu</h1>
        <form action="/password/reset" method="POST">
            <input type="hidden" value="<%= token %>" name="token">
            <label>Email:</label>
            <input type="text" name="email" placeholder="Email" value="<%= email %>" required readonly>
            <label>Mật khẩu:</label>
            <input type="password" name="password" placeholder="Nhập mật khẩu" required>
            <button type="submit" class="button4">Gửi</button>
        </form>
    </div>
</body>
</html>